@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

/* Width and Height */
::-webkit-scrollbar {
  width: 6px; /* width of the vertical scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; /* color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999; /* color of the scroll thumb on hover */
}
