.tracking-custom-wide {
  letter-spacing: 0.1em;
}

.custom-margin-1 {
  margin-top: -65px;
  margin-bottom: -65px;
}

.custom-card-bg {
  background: linear-gradient(134deg, #1b1d1f 0%, rgba(114, 115, 116, 0) 100%);
}
